h1{
    position: center;
    padding: 1%;
    margin-top: 2%;
    color: rgb(124, 72, 7);
    margin: 3%;
}
img{
    float: left;
 border-radius: 3%;
 margin: 2%;
 padding: 2%;
 background-color: rgb(255, 251, 240);
}
h3{
    color: black;
    position: center;
}
body{
    background-color: rgb(252, 240, 207);
    float: inline-end;
    align-items: flex-start;
}
.Des{
    font-family: monospace;
    margin: 3%;
    padding: 2%;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    float:left;

}