body{
    background-color: bisque;
}
p{
    font-family: sans-serif;
    color: rgb(100, 68, 8);
    font-size: 120%;
}
img{
    border-radius: 50%;
}
section{
position: relative;
flex-direction: end;
}
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.camisa1{
    float: left;
    margin: 1%;
    padding: 2%;
    border-radius: 20%;
    background-color: rgb(245, 197, 135);
    border-color: beige;
}
.camisa2{
    float: left;
    margin: 1%;
    padding: 2%;
    border-radius: 20%;
    background-color: rgb(245, 197, 135);
    border-color: beige;
}
.pantalon1{
    float: left;
    margin: 1%;
    padding: 2%;
    border-radius: 10%;
    background-color: rgb(245, 197, 135);
    border-color: beige;
}
.pantalon2{
    float: left;
    margin: 1%;
    padding: 2%;
    border-radius: 10%;
    background-color: rgb(245, 197, 135);
    border-color: beige;
}
.faldas2{
    float: left;
    margin: 1%;
    padding: 2%;
    border-radius: 10%;
    background-color: rgb(245, 197, 135);
    border-color: beige;
}
.faldas3{
    float: left;
    margin: 1%;
    padding: 2%;
    border-radius: 10%;
    background-color: rgb(245, 197, 135);
    border-color: beige;
}
.short1{
    float: left;
    margin: 1%;
    padding: 2%;
    border-radius: 10%;
    background-color: rgb(245, 197, 135);
    border-color: beige;
}
.short2{
    float: left;
    margin: 1%;
    padding: 2%;
    border-radius: 10%;
    background-color: rgb(245, 197, 135);
    border-color: beige;
}
.acc1{
    float: left;
    margin: 1%;
    padding: 2%;
    border-radius: 10%;
    background-color: rgb(245, 197, 135);
    border-color: beige;
}
.acc2{
    float: left;
    margin: 1%;
    padding: 2%;
    border-radius: 10%;
    background-color: rgb(245, 197, 135);
    border-color: beige;
}
.regresar{
    float:left;
    margin: 1%;
    padding: 2%;
    border-radius: 10%;
    background-color: rgb(245, 197, 135);
    border-color: beige;
    text-decoration: none;
} 
.Nombre{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
